Log notice stdout

# default: ~/.tor
DataDirectory /var/lib/tor

# https://gitweb.torproject.org/torspec.git/tree/control-spec.txt
ControlPort localhost:9051

DNSPort 0.0.0.0:9053

SocksPort 0.0.0.0:9050
SocksTimeout {socks_timeout_seconds}

# try to
HardwareAccel 1
